/* Starter CSS */

* {
    box-sizing: border-box; /* because it’s 2019, jen simmons */
    padding: 0;
    margin:1em;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2em;
    color: peru;
}

.ul {
  font-size: 1em;
  color: palevioletred;
}

body {
    background:whitesmoke;
    margin:0;
    width: 100%;
    }
    
    img {
    display: block;
    width: 100%;
    }

    .herophoto {
      position: relative;
    }
    /*cardS*/

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: thistle;
        padding:0em;


      }

      /*individual hobby cards*/

      .card {
        background-color: white;
        min-width: 400px;
        max-width: 400px;
        min-height: 400px;
        border-radius: 1em;
        border: 1px solid gray;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 2em;
        justify-content: center;
        position: relative;
        top: 0;
        margin:1em
      }
      .card:hover, .float:focus, .float:active {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
      }
      
      .cardphoto {
        max-height: 250px;
        overflow: hidden;
      }
      
      .cardarticle {
        padding: 1rem;
       max-width: fit-content;
        flex-grow: 1;
        flex-wrap: wrap;
      }


      /*navigation*/
      @media only screen and (min-width: 60em) {
        body {
          background-color: thistle;
          justify-content: space-between;
        }
        .logo {
          margin-left: 20px;
        }
        /* put logo and main nav on same line */
        .flex-container {
          flex-direction: row;
        }
      
        /* move the list to the right side of the browser */
        .main-nav {
          justify-content: flex-end;
          padding: 20px;
        }
      
        /* add some padding to give the main nav some breathing room */
        .main-nav a {
          padding: 
        }
      }

      li { 
          color: thistle;
      }
    
    
/* because it’s 2019, jensimmons */
* {
  box-sizing: border-box;
}

/* border-box box model allows us to add padding and border to our elements without increasing their size */

body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  /* display: block; */
  max-width: 100%;
}

.headerbox {
  height: 100vh;
  position: relative;
  background-image: url(https://picsum.photos/id/1061/1000/1000);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.title {
  height: 280px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

.title h1 {
  color: tomato;
  font-size: 5em;
}

.transparent {
  height: 10em;
  width: 100%;
  position: absolute;
  top: 75%;
  margin-top: 5em;
}

.transparent h2 {
  font-size: 12vw;
  text-align: end;
  padding-right: 30px;
  color: maroon;
}

.content {
  margin: 0 auto;
  max-width: 90ch;
  height: 100vh;
  padding: 2rem;
}

.content article {
  padding-top: 50px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.3;
}

.second-image {
  position: relative;
  height: 600px;
  background-image: url(https://i.picsum.photos/id/1056/1000/600.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

    /* This is the CSS markup for commenting */
    
    /* A one-line comment */
    
    /*
    A comment
    which stretches
    over several
    lines
    */
    
    /* The comment below is used to
       disable specific styling */
    
    /*
    span {
      color: blue;
      font-size: 1.5em;
    }
    */
    /* highlight the item and use Command + slash to comment something out. */